/* 
#F7FBFC
#D6E6F2
#B9D7EA
#769FCD
*/
@import url('https://fonts.cdnfonts.com/css/apex-mk3');

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background-color: #F7FBFC;
    /* overflow-x: hidden; */
    position: relative;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto !important;
}

footer p a img {
    max-width: 25px;
    height: auto;
}

h1 {
    font-family: 'Apex Mk3', sans-serif;
    text-align: center;
    font-size: 60px;
    margin: 25px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1232px) {
    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 4vw;
    }
}

@media screen and (max-width: 695px) {
    nav {
        display: none !important;
    }

    .mobile-nav {
        display: flex !important;
    }
}

.mobile-nav {
    height: 50px;
    width: 100%;
    margin: 0;
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #769fcd;
}

.mobile-nav ul {
    display: none;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #769FCD;
}

.mobile-nav ul li {
    float: left;
}

.mobile-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 23px;
    text-decoration: none;
}

#nav-button {
    background-color: #769fcd;
    border: none;
    color: white;
    font-size: 40px;
}

h2 {
    line-height: 35px;
    margin-left: 25px;
    margin-right: 100px;
}

h3 {
    margin: 25px;
}

p {
    margin-left: 25px;
    margin-right: 100px;
    line-height: 35px;
}

nav {
    height: 41px;
    width: 100%;
    font-size: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    top: 0;
    position: sticky;
    background-color: #414141;
    /* background-image: linear-gradient(180deg, rgb(58 64 225), rgb(113, 167, 235), #F7FBFC); */
}

.top-nav {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 100px;
    background-color: #3f5c79;
    display: flex;
    align-items: center;
}

.logo {
    width: 250px;
    height: 250px;
}

.vl {
    border-left: 4px solid rgb(255, 255, 255);
    border-radius: 5px;
    height: 200px;
}

.top-nav h1 {
    color: white;
}

nav ul {
    height: 175px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* background-color: #769FCD; */
}

.left {
    margin-left: 50px !important;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 23px;
    text-decoration: none;
}

nav ul li:hover {
    background-image: radial-gradient(#5d82e8, transparent);
    border-radius: 14px;
}

.main {
    padding: 39px;
    margin: 68px 128px;
    box-shadow: 0px 20px 10px 0px #c5c5c5, 1px 20px 20px 0px #c5c5c5;
    /* box-shadow: 0px 20px 10px 0px #888, 0px 20px 16px 0px #888; */
}

.bar {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #408b3c;
    color: white;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.info-box {
    width: 30%;
    height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar .vl {
    border-left: 4px solid #dadada !important;
    height: 300px !important;
}

footer {
    background-color: rgb(74, 74, 74);
    color: rgba(255, 255, 255, 0.88);
    height: 150px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h3 {
    display: flex;
}