
/* 
#F7FBFC
#D6E6F2
#B9D7EA
#769FCD
*/
@import url('https://fonts.cdnfonts.com/css/apex-mk3');
body {
    margin: 0;
    background-color: #F7FBFC;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

h1 {
    font-family: 'Apex Mk3', sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 25px;
    margin-bottom: 50px;
}

h2 {
    margin: 25px;
}

h3 {
    margin: 25px;
}

p {
    margin: 25px;
    line-height: 35px;
}

nav {
    height: 50px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: #769fcd;
}

nav ul {
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #769FCD;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 23px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #31476c5e;
}

footer {
    background-color: rgb(74, 74, 74);
    color: rgba(255, 255, 255, 0.88);
    height: 150px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h3 {
    display: flex;
}