<!DOCTYPE html>
<html>
<head>
    <title>International High School Writing Contest</title>
    <style>
        img {
          max-width: 25px;
          height: auto;
        }
    </style>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <nav>
    <ul class="left">
      <li><a href="/home">Home</a></li>
      <li><a href="/submit">Submit</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
    <ul class="right">
      <li><a href="/sign-in">Sign In</a></li>
    </ul>
  </nav>
  <h1>About Us</h1>
  <h2>The International High School Writing Contest (IHSWC for short) is a contest made for highschoolers by highschoolers. Started by two creative writers, the IHSWC
      seeks to address three gap in writing competitions—accessibiliy, functionality, and transparency. In an age of information where the incentive and pressure for awards and excellence seems to grow exponentially,
      our founders grew increasingly frustrated with the "prestigious" but often-paywalled and US-only writing competitions that sometimes gives and sometimes does not give you an award—with zero
      explanation and zero feedback on how to improve.
      <br>    
      So, in 2022, our founders made IHSWC. With an emphasis on world-wide accessibility and a clear submission-to-judging-to-award process, the core of the IHSWC is be an uplifting community
      for creative highschoolers and to reward and give them a place to have their work seen.
  </h2>

    <footer>
        <h3>
            Check out our Instagram!
            <a style="margin-left: 25px;" href='https://www.instagram.com/highschool.writing/'>
                <img src="../static/instagram_logo.png" >
            </a>
        </h3>
        <h3>©2023 by International High School Writing Competition</h3>
    </footer>
    
    
    
</body>
</html>
