{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">

    <title>Admin Page</title>

    <link rel="stylesheet" href="../static/style.css" />
    <script
      src="https://kit.fontawesome.com/65a259d37d.js"
      crossorigin="anonymous"
    ></script>

    <style>
      #root {
        display: none;
      }

      #submission-box {
        display: flex;
        flex-wrap: wrap;
      }

      .submission {
        width: 400px;
        margin: 50px;
        background-color: lightblue;
        padding: 30px;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .info {
        margin-top: 10px;
      }

      p {
        margin-left: 25px;
        margin-bottom: 0px;
        margin-right: 100px;
        margin-top: 0px;
        line-height: 30px;
        text-transform: capitalize;
      }

      .submission a {
        margin: 20px auto 10px auto;
        width: 170px;
        height: 22px;
        color: white !important;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        background-color: #eab949;
        border-radius: 5px;
        text-decoration: none;
      }

      .submission a:hover {
        background-color: #d0a43d;
      }

      .submission a:visited {
        color: inherit;
      }
    </style>
  </head>

  <body>
    
    <ul class="top-nav">
      <img class="logo" src="../static/jack_logo.png" alt="">
      <div class="vl"></div>
      <div class="title-nav">
        <h1>International High School Writing Contest</h1>
        <div class="underline-text">
          <h2>Sponsored by</h2>
          <h2 style="text-decoration: underline; margin-left: 6px !important;">Writing Waves</h2>
        </div>
      </div>
    </ul>

    <nav>
      <ul class="right">
        <li><a href="/home" style="color: white; background-color: rgba(0, 0, 0, 0);">Home</a></li>
        <li><a href="/submit">Submit</a></li>
        <li><a href="/awards">Awards</a></li>
        <li><a href="/process">Our Process</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/sign-in">Sign In</a></li>
      </ul>
    </nav>

    <div class="mobile-nav">
      <a href="javascript:void(0);" id="nav-button" onclick="mobileNav()">
        <i class="fa-solid fa-bars"></i>
      </a>
      <ul>
        <li><a href="/home" style="color: white; background-color: rgba(0, 0, 0, 0);">Home</a></li>
        <li><a href="/submit">Submit</a></li>
        <li><a href="/awards">Awards</a></li>
        <li><a href="/process">Our Process</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/sign-in">Sign In</a></li>
      </ul>
    </div>
    <script>
      function mobileNav() {
        if (document.querySelector("body > div.mobile-nav > ul").style.display == "none") {
          document.querySelector("body > div.mobile-nav > ul").style.display = "block"
        }
        else {
          document.querySelector("body > div.mobile-nav > ul").style.display = "none"
        }
      }
    </script>

    <h1>Admin Page</h1>

    <!-- <div id="root">{{submissions}}</div> -->
    
    <button onclick="showUngraded()">Show ungraded</button>
    <button onclick="showGraded()">Show graded</button>
    <button onclick="showAll()">Show all</button>

    <div id="submission-box">
      {% for submission in submissions %}
        {% if submission.id in graded_lst %}
          <div class="submission graded">
              {% for grade in gradings %}

                {% if submission.id|slugify == grade.submission|slugify %}
                  <p>Graded by {{grade.graded_by}}</p>
                  <p>Rating: {{grade.rating}}</p>
                {% endif %}

              {% endfor %}
              <p style="text-transform: capitalize; font-size: 30px;">{{submission.firstname}} {{submission.lastname}}</p>
              <div class="info">
                <!-- <p>Submission: {{submission.id}}</p> -->
                <p>Title: {{submission.title1}}</p>
                <p>Category: {{submission.category1}}</p>
                <p>Word Count: {{submission.word_count1}}</p>
              </div>
              <a class="submission-link" href="/admin-page/submission?id={{submission.id}}">Review Submission <i class="fa-solid fa-right-long"></i></a>
            </div>

        {% else %}
        <div class="submission ungraded">
          <p style="text-transform: capitalize; font-size: 30px;">{{submission.firstname}} {{submission.lastname}}</p>
          <div class="info">
            <!-- <p>Submission: {{submission.id}}</p> -->
            <p>Title: {{submission.title1}}</p>
            <p>Category: {{submission.category1}}</p>
            <p>Word Count: {{submission.word_count1}}</p>
          </div>
          <a class="submission-link" href="/admin-page/submission?id={{submission.id}}">Review Submission <i class="fa-solid fa-right-long"></i></a>
        </div>

        {% endif %}
      {% endfor %}
    </div>

    <script>
      function showUngraded() {
        document.querySelectorAll(".submission").forEach(d => d.style.display = "block")
        document.querySelectorAll(".graded").forEach(d => {
            d.style.display = "none"
        })
      }
      function showGraded() {
        document.querySelectorAll(".submission").forEach(d => d.style.display = "block")
        document.querySelectorAll(".ungraded").forEach(d => {
          d.style.display = "none"
        })
      }
      function showAll() {
        document.querySelectorAll(".submission").forEach(d => d.style.display = "block")
      }
      

      q = new URLSearchParams(location.search);
      if (q.get("login") != "success") {
        location.href = "/sign-in";
      }
    </script>

    <!-- <script>
      function makeLink(href, n, div, obj) {
        info = document.createElement("div");
        info.classList.add("info");
        info.innerHTML = `<p>Submission: ${n}</p> <p>Title: ${
          obj["title" + n]
        }</p> <p>Category: ${obj["category" + n]}</p> <p>Word Count: ${
          obj["word_count" + n]
        }</p>`;

        a = document.createElement("a");
        a.setAttribute("href", `/media/${href}`);
        a.setAttribute("target", "_blank");
        a.innerHTML = `View Submission ${n} <i class="fa-solid fa-right-long"></i>`;

        div.append(info);
        div.append(a);
      }

      pdfs = ["pdf_file1", "pdf_file2", "pdf_file3", "pdf_file4", "pdf_file5"];

      submissions = JSON.parse(
        document
          .querySelector("#root")
          .innerText.replaceAll("'", '"')
          .replaceAll("datetime", '"datetime')
          .replaceAll(")", ')"')
      );

      submissions.forEach((s) => {
        div = document.createElement("div");
        div.classList.add("submission");
        div.innerHTML = `<p style="text-transform: capitalize; font-size: 30px;">${s["firstname"]} ${s["lastname"]}</p>`;

        pdfs.forEach((pdf) => {
          if (s[pdf] == "___") {
            console.log("empty");
          } else {
            console.log(s[pdf]);
            makeLink(s[pdf], pdf.slice(-1), div, s);
          }
        });

        document.querySelector("#submission-box").append(div);
      });
    </script> -->
  </body>
</html>
