{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">

    <title>Admin Page</title>

    <link rel="stylesheet" href="../static/style.css" />
    <script
      src="https://kit.fontawesome.com/65a259d37d.js"
      crossorigin="anonymous"
    ></script>

    <style>
      #root {
        display: none;
      }

      #submission-box {
        display: flex;
        flex-wrap: wrap;
      }
      #new-submission-box {
        display: flex;
        flex-wrap: wrap;
      }

      .submission {
        width: 400px;
        margin: 50px;
        background-color: lightblue;
        padding: 30px;
        border: 2px solid black;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .info {
        margin-top: 10px;
      }

      p {
        margin-left: 25px;
        margin-bottom: 0px;
        margin-right: 100px;
        margin-top: 0px;
        line-height: 30px;
        text-transform: capitalize;
      }

      .submission a {
        margin: 20px auto 10px auto;
        width: 170px;
        height: 22px;
        color: white !important;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        background-color: #eab949;
        border-radius: 5px;
        text-decoration: none;
      }

      .submission a:hover {
        background-color: #d0a43d;
      }

      .submission a:visited {
        color: inherit;
      }

      .submission-link {
        display: block;
      }

      .filter-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .filter-box button {
        border-radius: 10px;
        outline: none;
        height: 42px;
        width: 135px;
        margin: 15px;
        background-color: #60e160;
        border: 2px solid black;
        cursor: pointer;
      }

      .filter-box label {
        margin: auto 5px;
      }

      .filter-box select {
        height: 36px;
        margin: auto 5px;
        border-radius: 10px;
        padding-left: 5px;
        cursor: pointer;
      }
      @media (max-width: 768px) {
        #submission-box {
          justify-content: center;
        }
        div.submission {
          width: unset !important;
          margin: 0 !important
        }
      }
      table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
  </head>

  <body>
    
    <ul class="top-nav">
      <img class="logo" src="../static/jack_logo.png" alt="">
      <div class="vl"></div>
      <div class="title-nav">
        <h1>International High School Writing Contest</h1>
        <div class="underline-text">
          <h2>Sponsored by</h2>
          <h2 style="text-decoration: underline; margin-left: 6px !important;">Writing Waves</h2>
        </div>
      </div>
    </ul>

    <nav>
      <ul class="right">
        <li><a href="/home" style="color: white; background-color: rgba(0, 0, 0, 0);">Home</a></li>
        <li><a href="/submit">Submit</a></li>
        <li><a href="/awards">Awards</a></li>
        <li><a href="/process">Our Process</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/sign-in">Sign In</a></li>
      </ul>
    </nav>

    <div class="mobile-nav">
      <a href="javascript:void(0);" id="nav-button" onclick="mobileNav()">
        <i class="fa-solid fa-bars"></i>
      </a>
      <ul>
        <li><a href="/home" style="color: white; background-color: rgba(0, 0, 0, 0);">Home</a></li>
        <li><a href="/submit">Submit</a></li>
        <li><a href="/awards">Awards</a></li>
        <li><a href="/process">Our Process</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/sign-in">Sign In</a></li>
      </ul>
    </div>
    <script>
      function mobileNav() {
        if (document.querySelector("body > div.mobile-nav > ul").style.display == "none") {
          document.querySelector("body > div.mobile-nav > ul").style.display = "block"
        }
        else {
          document.querySelector("body > div.mobile-nav > ul").style.display = "none"
        }
      }
    </script>

    <h1>Admin Page</h1>

    <div style="display: flex;border: 1px solid black;border-radius: 10px;margin: 0 auto 20px auto;">
      <h2>Total Submissions: {{submissions|length}}</h2>
      <h2>Total Countries: {{countries|length}}</h2>
    </div>
    
    <div class="filter-box">
      <button onclick="showUngraded()">Show ungraded</button>
      <button onclick="showGradedOnce()">Show graded once</button>
      <button onclick="showGradedTwice()">Show graded twice</button>
    </div>
    <div class="filter-box">
      <label for="category">Category:</label>
      <select id="category" name="category">
          <option value="all">All</option>
          <option value="Critical Essay">Critical Essay</option>
          <option value="Shortstory">Shortstory</option>
          <option value="Dramatic Script">Dramatic Script</option>
          <option value="Poetry">Poetry</option>
          <option value="Flash Fiction">Flash Fiction</option>
      </select>
      <button onclick="filter()" style="background-color: #e1c860 !important;">Filter</button>
      <button onclick="javascript:window.location.reload()" style="background-color: #da5e46 !important;">Reset Filters</button>
    </div>
<!-- 
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Title1</th>
          <th>Category1</th>
          <th>Word Count1</th>
          <th>Title2</th>
          <th>Category2</th>
          <th>Word Count2</th>
          <th>Title3</th>
          <th>Category3</th>
          <th>Word Count3</th>
          <th>Title4</th>
          <th>Category4</th>
          <th>Word Count4</th>
          <th>Title5</th>
          <th>Category5</th>
          <th>Word Count5</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submissions %}
          {% if submission.id in graded_lst %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{submission.firstname}} {{submission.lastname}}</td>
              <td class='title-field'>
                <a href="/admin-page/submission?id={{submission.id}}&sub=1">{{submission.title1}}</a>
                <p class="judge-reviews">
                  {% for grade in gradings %}
                      {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '1' %}
                        <i class="fa-solid fa-check"></i>
                        <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                      {% endif %}
                  {% endfor %}
                </p>  
              </td>
              <td class='category-field'>{{submission.category1}}</td>
              <td class='word-count-field'>{{submission.word_count1}}</td>

              {% if submission.title2 != "" and submission.title2 != "___" %}
                <td class='title-field'>
                  <a href="/admin-page/submission?id={{submission.id}}&sub=2">{{submission.title2}}</a>
                  <p class="judge-reviews">
                    {% for grade in gradings %}
                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '2' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}
  
                    {% endfor %}
                  </p> 
                </td>
                <td class='category-field'>{{submission.category2}}</td>
                <td class='word-count-field'>{{submission.word_count2}}</td>
              {% endif %}
              {% if submission.title3 != "" and submission.title3 != "___" %}
                <td class='title-field'>
                  <a href="/admin-page/submission?id={{submission.id}}&sub=3">{{submission.title3}}</a>
                  <p class="judge-reviews">
                    {% for grade in gradings %}
                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '3' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}

                    {% endfor %}
                  </p> 
                </td>
                <td class='category-field'>{{submission.category3}}</td>
                <td class='word-count-field'>{{submission.word_count3}}</td>
              {% endif %}
              {% if submission.title4 != "" and submission.title4 != "___" %}
                <td class='title-field'>
                  <a href="/admin-page/submission?id={{submission.id}}&sub=4">{{submission.title4}}</a>
                  <p class="judge-reviews">
                    {% for grade in gradings %}
                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '4' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}

                    {% endfor %}
                  </p> 
                </td>
                <td class='category-field'>{{submission.category4}}</td>
                <td class='word-count-field'>{{submission.word_count4}}</td>
                {% endif %}
                {% if submission.title5 != "" and submission.title5 != "___" %}
                  <td class='title-field'>
                    <a href="/admin-page/submission?id={{submission.id}}&sub=5">{{submission.title5}}</a>
                    <p class="judge-reviews">
                      {% for grade in gradings %}
                          {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '5' %}
                            <i class="fa-solid fa-check"></i>
                            <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                          {% endif %}
    
                      {% endfor %}
                    </p> 
                  </td>
                  <td class='category-field'>{{submission.category5}}</td>
                  <td class='word-count-field'>{{submission.word_count5}}</td>
                {% endif %}

            </tr>
          {% else %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{submission.firstname}} {{submission.lastname}}</td>
              <td class='title-field'><a href="/admin-page/submission?id={{submission.id}}&sub=1">{{submission.title1}}</a></td>
              <td class='category-field'>{{submission.category1}}</td>
              <td class='word-count-field'>{{submission.word_count1}}</td>

              {% if submission.title2 != "" and submission.title2 != "___" %}
                <td class='title-field'><a href="/admin-page/submission?id={{submission.id}}&sub=2">{{submission.title2}}</a></td>
                <td class='category-field'>{{submission.category2}}</td>
                <td class='word-count-field'>{{submission.word_count2}}</td>
              {% endif %}
              {% if submission.title3 != "" and submission.title3 != "___" %}
                <td class='title-field'><a href="/admin-page/submission?id={{submission.id}}&sub=3">{{submission.title3}}</a></td>
                <td class='category-field'>{{submission.category3}}</td>
                <td class='word-count-field'>{{submission.word_count3}}</td>
              {% endif %}
              {% if submission.title4 != "" and submission.title4 != "___" %}
                <td class='title-field'><a href="/admin-page/submission?id={{submission.id}}&sub=4">{{submission.title4}}</a></td>
                <td class='category-field'>{{submission.category4}}</td>
                <td class='word-count-field'>{{submission.word_count4}}</td>
              {% endif %}
              {% if submission.title5 != "" and submission.title5 != "___" %}
                <td class='title-field'><a href="/admin-page/submission?id={{submission.id}}&sub=5">{{submission.title5}}</a></td>
                <td class='category-field'>{{submission.category5}}</td>
                <td class='word-count-field'>{{submission.word_count5}}</td>
              {% endif %}
            </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table> -->

    <div id="submission-box">
      {% for submission in submissions %}
        {% if submission.id in graded_lst %}
          <div class="submission graded">
              <p style="text-transform: capitalize; font-size: 30px;">{{submission.firstname}} {{submission.lastname}}</p>
              <div class="info">
                <!-- <p>Submission: {{submission.id}}</p> -->
                <div id="sub1">
                  <p class='title-field'>Title: {{submission.title1}}</p>
                  <p class='category-field'>Category: {{submission.category1}}</p>
                  <p class='word-count-field'>Word Count: {{submission.word_count1}}</p>

                  <p class="judge-reviews">Reviews: 
                    {% for grade in gradings %}

                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '1' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}

                    {% endfor %}
                  </p>
 
                  <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=1">Review Submission 1 <i class="fa-solid fa-right-long"></i></a>
                </div>
                {% if submission.title2 != "" and submission.title2 != "___" %}
                <div id="sub2">
                  <p class='title-field'>Title: {{submission.title2}}</p>
                  <p class='category-field'>Category: {{submission.category2}}</p>
                  <p class='word-count-field'>Word Count: {{submission.word_count2}}</p>

                  <p class="judge-reviews">Reviews: 
                    {% for grade in gradings %}
  
                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '2' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}
  
                    {% endfor %}
                    </p>
   
                  <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=2">Review Submission 2 <i class="fa-solid fa-right-long"></i></a>
                </div>
                {% endif %}
                {% if submission.title3 != "" and submission.title3 != "___" %}
                <div id="sub3">
                  <p class='title-field'>Title: {{submission.title3}}</p>
                  <p class='category-field'>Category: {{submission.category3}}</p>
                  <p class='word-count-field'>Word Count: {{submission.word_count3}}</p>

                  <p class="judge-reviews">Reviews: 
                    {% for grade in gradings %}
  
                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '3' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}
  
                    {% endfor %}
                    </p>
   
                  <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=3">Review Submission 3 <i class="fa-solid fa-right-long"></i></a>
                </div>
                {% endif %}
                {% if submission.title4 != "" and submission.title4 != "___" %}
                <div id="sub4">
                  <p class='title-field'>Title: {{submission.title4}}</p>
                  <p class='category-field'>Category: {{submission.category4}}</p>
                  <p class='word-count-field'>Word Count: {{submission.word_count4}}</p>

                  <p class="judge-reviews">Reviews: 
                    {% for grade in gradings %}
  
                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '4' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}
  
                    {% endfor %}
                    </p>
   
                  <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=4">Review Submission 4 <i class="fa-solid fa-right-long"></i></a>
                </div>
                {% endif %}
                {% if submission.title5 != "" and submission.title5 != "___" %}
                <div id="sub5">
                  <p class='title-field'>Title: {{submission.title5}}</p>
                  <p class='category-field'>Category: {{submission.category5}}</p>
                  <p class='word-count-field'>Word Count: {{submission.word_count5}}</p>

                  <p class="judge-reviews">Reviews: 
                    {% for grade in gradings %}
  
                        {% if submission.id|slugify == grade.submission|slugify and grade.sub_number == '5' %}
                          <i class="fa-solid fa-check"></i>
                          <i class="judge-rating" style="display: none;">{{grade.rating}}</i>
                        {% endif %}
  
                    {% endfor %}
                    </p>
   
                  <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=5">Review Submission 5 <i class="fa-solid fa-right-long"></i></a>
                </div>
                {% endif %}
              </div>
            </div>

        {% else %}
        <div class="submission ungraded">
          <p style="text-transform: capitalize; font-size: 30px;">{{submission.firstname}} {{submission.lastname}}</p>
          <div class="info">
            <div id="sub1">
              <!-- <p>Submission: {{submission.id}}</p> -->
              <p class='title-field'>Title: {{submission.title1}}</p>
              <p class='category-field'>Category: {{submission.category1}}</p>
              <p class='word-count-field'>Word Count: {{submission.word_count1}}</p>
              <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=1">Review Submission 1 <i class="fa-solid fa-right-long"></i></a>
            </div>
            {% if submission.title2 != "" and submission.title2 != "___" %}
            <div id="sub2">
              <p class='title-field'>Title: {{submission.title2}}</p>
              <p class='category-field'>Category: {{submission.category2}}</p>
              <p class='word-count-field'>Word Count: {{submission.word_count2}}</p>
              <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=2">Review Submission 2 <i class="fa-solid fa-right-long"></i></a>
            </div>
            {% endif %}
            {% if submission.title3 != "" and submission.title3 != "___" %}
            <div id="sub3">
              <p class='title-field'>Title: {{submission.title3}}</p>
              <p class='category-field'>Category: {{submission.category3}}</p>
              <p class='word-count-field'>Word Count: {{submission.word_count3}}</p>
              <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=3">Review Submission 3 <i class="fa-solid fa-right-long"></i></a>
            </div>
            {% endif %}
            {% if submission.title4 != "" and submission.title4 != "___" %}
            <div id="sub4">
              <p class='title-field'>Title: {{submission.title4}}</p>
              <p class='category-field'>Category: {{submission.category4}}</p>
              <p class='word-count-field'>Word Count: {{submission.word_count4}}</p>
              <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=4">Review Submission 4 <i class="fa-solid fa-right-long"></i></a>
            </div>
            {% endif %}
            {% if submission.title5 != "" and submission.title5 != "___" %}
            <div id="sub5">
              <p class='title-field'>Title: {{submission.title5}}</p>
              <p class='category-field'>Category: {{submission.category5}}</p>
              <p class='word-count-field'>Word Count: {{submission.word_count5}}</p>
              <a class="submission-link" href="/admin-page/submission?id={{submission.id}}&sub=5">Review Submission 5 <i class="fa-solid fa-right-long"></i></a>
            </div>
            {% endif %}
          </div>
        </div>

        {% endif %}
      {% endfor %}
    </div>

    <div id="new-submission-box"></div>

    <script>
      document.querySelectorAll(".judge-reviews").forEach(p => {
          sum = 0
          if (p.children.length >= 4) {
            Array.prototype.slice.call(p.children).forEach(pc => {
              if (pc.classList.contains("judge-rating")) {
                sum += Number(pc.innerText)
              }
            })
          }
          average_box = document.createElement("p")
          average_box.innerText = `Average Rating: ${sum / 2}`
          p.parentElement.insertBefore(average_box, p.nextElementSibling)
      })
      function showUngraded() {
        document.querySelectorAll(".submission").forEach(d => d.style.display = "block")
        document.querySelectorAll(".graded").forEach(d => {
            d.style.display = "none"
        })
      }
      function showGradedOnce() {
        document.querySelectorAll(".submission").forEach(d => d.style.display = "none")
        document.querySelectorAll(".judge-reviews").forEach(p => {
          if (p.children.length == 3) {
            p.parentElement.parentElement.parentElement.style.display = "block"
          }
        })
      }
      function showGradedTwice() {
        document.querySelectorAll(".submission").forEach(d => d.style.display = "none")
        document.querySelectorAll(".judge-reviews").forEach(p => {
          if (p.children.length == 4) {
            p.parentElement.parentElement.parentElement.style.display = "block"
          }
        })
      }

      function filter() {
        if (document.querySelector("#category").value == "all") {
          window.location.reload()
        }
        document.querySelector("#new-submission-box").innerHTML = ""
        filterValue = document.querySelector("#category").value
        document.querySelectorAll(".category-field").forEach(p => {
          if (p.innerText.split(": ")[1] == filterValue) {
            submission_box = document.createElement("div")
            submission_box.setAttribute("class", "submission")
            sub = document.createElement("div")
            sub.setAttribute("id", `sub${p.parentElement['id'].slice(-1)}`)
            sub.innerHTML = `
              <h1>${p.parentElement.parentElement.previousElementSibling.innerText}</h1>
              <p class='title-field'>${p.previousElementSibling.innerText}</p>
              <p class="category-field">${p.innerText}</p>
              <p class='word-count-field'>${p.nextElementSibling.innerText}</p>
              <a class="submission-link" href="${p.nextElementSibling.nextElementSibling['href']}">${p.nextElementSibling.nextElementSibling.innerHTML}</a>
            `
            submission_box.append(sub)
            document.querySelector("#new-submission-box").append(submission_box)

            upperBox = p.parentElement.parentElement
            Array.prototype.slice.call(upperBox.children).forEach(c => c.style.display = "none")
            p.parentElement.style.display = "block"
          }
        })
        document.querySelector("#submission-box").style.display = "none"
      }
      

      q = new URLSearchParams(location.search);
      if (q.get("login") != "success") {
        location.href = "/sign-in";
      }
    </script>

</body>
</html>
