{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>International High School Writing Contest</title>
    <style>
        img {
          max-width: 25px;
          height: auto;
        }
    </style>
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/submit">Submit</a></li>
            <li><a href="/awards">Awards</a></li>
            <li><a href="/submissions">Submissions</a></li>
            <li><a href="/process">Our Process</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <h1>International High School Writing Contest</h1>
    <h1>Awards</h1>
    <h2>Gold Medallion</h2>
    <p>Published on the IHSWC website and publication. $50 cash prize (for US highschoolers).</p>
    <h2>Silver Medallion</h2>
    <p>Published on the IHSWC publication.</p>
    <h2>Bronze Medallion</h2>
    <p>Published on the IHSWC publication.</p>
    <h2>Honorable Mention</h2>
    <p>Will recieve certificates</p>
    <h3>All award recipients will be emailed certificates and published in a list on our website</h3>

    <h3>Check out our Instagram!</h3>
    <button onclick="window.location.href='https://www.instagram.com/highschool.writing/'">
        <img src="instagram_logo.png" ></button>
        
    
    <h3>©2023 by International High School Writing Competition</h3>
</html>
</body>

</html>
