{% load static %}
<!DOCTYPE html>
<!--C:\Users\jackj\Documents\jacks_website>git add . && git commit -m "changes" && git push -u origin master-->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>International High School Writing Contest</title>
  <link rel="icon" type="image/x-icon" href="../static/jack_logo.ico">
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet">
  <script src="../static/main.js"></script>
  <script src="https://kit.fontawesome.com/65a259d37d.js" crossorigin="anonymous"></script>
</head>

<body>

  <ul class="top-nav">
    <img class="logo" src="../static/jack_logo.png" alt="">
    <div class="vl"></div>
    <div class="title-nav">
      <h1>International High School Writing Contest</h1>
      <div class="underline-text">
        <h2>Sponsored by</h2>
        <h2 style="text-decoration: underline; margin-left: 6px !important;">Writing Waves</h2>
      </div>
    </div>
  </ul>

  <nav>
    <ul class="right">
      <li><a href="/home">Home</a></li>
      <li><a href="/submit">Submit</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/sign-in">Sign In</a></li>
    </ul>
    </ul>
  </nav>

  <div class="mobile-nav">
    <button id="nav-button"><i class="fa-solid fa-bars"></i></button>
    <ul class="left">
      <li><a href="/home">Home</a></li>
      <li><a href="/submit">Submit</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/sign-in">Sign In</a></li>
    </ul>
  </div>

  <div class="main" style="display: flex; flex-wrap: wrap;">

    <div class="bar">
      
      <div class="info-box">
        <h1>140+ Entries <i style="color: #dfc54f;" class="fa-regular fa-paper-plane"></i></h1>
      </div>

      <div class="vl"></div>

      <div class="info-box">
        <h1>17+ Awards Given <i style="color: #a43434;" class="fa-solid fa-award"></i></h1>
      </div>

      <div class="vl"></div>

      <div class="info-box">
        <h1>5 Different Countries <i style="color: #312eb5;" class="fa-solid fa-earth-americas"></i></h1>
      </div>

    </div>

    <div class="background-image">
      <h2>Discovering Our Voices Through Writing</h2>
    </div>

    <div class="rect">

      <img src="https://assets.entrepreneur.com/content/3x2/2000/1683118869-GettyImages-850630688.jpg" alt="">
  
      <p>
        The International High School Writing Contest is an annual analytical and
        creative writing competition for all high school students eager to share
        their work. The competition recognizes creativity and excellence in 5 nm,
        categories: Short Story, Flash Fiction, Poetry, Critical Essay, and
        Dramatic Script. All students' works will be read through and analyzed by
        multiple approved judges, with actual feedback returned alongside all
        entries. There are no entry fees. All high school students are invited to
        particpate.
      </p>

    </div>

    <div class="rect">

      <p>
        We wanted a writing competition that was 100% free with a transparent
        submission and judging process. Most writing competitions either give you
        an award or don't, with zero feedback on how to improve. The International
        High School Writing Contest gives students all around the world an
        opportunity to share their work and compete against others whilst
        exploring and improving their own writing—all without having to worry
        about payment or entrance fees.
      </p>
  
      <img src="../static/home_img2.jpg" style="float: right" alt="">

    </div>

  </div>


  <footer>
    <p>
      Check out our Instagram!
      <a style="margin-left: 25px;" href='https://www.instagram.com/highschool.writing/'>
        <img src="../static/instagram_logo.png">
      </a>
    </p>
    <p>©2023 by International High School Writing Competition</p>
  </footer>
</body>

</html>