{% load static %}
<!DOCTYPE html>
<!--C:\Users\jackj\Documents\jacks_website>git add . && git commit -m "changes" && git push -u origin master-->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>International High School Writing Contest</title>
  <link rel="icon" type="image/x-icon" href="../static/small_jack_logo.ico">
  <link rel="stylesheet" href="../static/style.css" />
  <script src="../static/main.js"></script>
  <script src="https://kit.fontawesome.com/65a259d37d.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <ul class="left">
      <img src="../static/jack_logo.png" alt="">
    </ul>
    <ul class="right">
      <li><a href="/home">Home</a></li>
      <li><a href="/submit">Submit</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/sign-in">Sign In</a></li>
    </ul>
    </ul>
  </nav>

  <div class="mobile-nav">
    <button id="nav-button"><i class="fa-solid fa-bars"></i></button>
    <ul class="left">
      <li><a href="/home">Home</a></li>
      <li><a href="/submit">Submit</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/sign-in">Sign In</a></li>
    </ul>
  </div>

  <div class="main">
    <h1>International High School Writing Contest</h1>
    <h2>2023 International High School Writing Contest Application Now Open</h2>

    <p>
      The International High School Writing Contest is an annual analytical and
      creative writing competition for all high school students eager to share
      their work. The competition recognizes creativity and excellence in 5 nm,
      categories: Short Story, Flash Fiction, Poetry, Critical Essay, and
      Dramatic Script. All students' works will be read through and analyzed by
      multiple approved judges, with actual feedback returned alongside all
      entries. There are no entry fees. All high school students are invited to
      particpate.
    </p>
    <p>
      We wanted a writing competition that was 100% free with a transparent
      submission and judging process. Most writing competitions either give you
      an award or don't, with zero feedback on how to improve. The International
      High School Writing Contest gives students all around the world an
      opportunity to share their work and compete against others whilst
      exploring and improving their own writing—all without having to worry
      about payment or entrance fees.
    </p>
  </div>


  <footer>
    <p>
      Check out our Instagram!
      <a style="margin-left: 25px;" href='https://www.instagram.com/highschool.writing/'>
        <img src="../static/instagram_logo.png">
      </a>
    </p>
    <p>©2023 by International High School Writing Competition</p>
  </footer>
</body>

</html>