{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>International High School Writing Contest</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/submit">Submit</a></li>
            <li><a href="/awards">Awards</a></li>
            <li><a href="/process">Our Process</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <h1>International High School Writing Contest </h1>
    <h1>2023 International High School Writing Contest Application Now Open</h1>
    <h2>The International High School Writing Contest is an annual analytical and creative writing competition for all high school students eager to share their work. The competition recognizes creativity and excellence in 5 nm, categories: Short Story, Flash Fiction, Poetry, Critical Essay, and Dramatic Script. 
        All students' works will be read through and analyzed by multiple approved judges, with actual feedback returned alongside all entries.
        There are no entry fees. All high school students are invited to particpate. 
    </h2>
    <p>We wanted a writing competition that was 100% free with a transparent submission and judging process. Most writing competitions either give you an award or don't, with zero feedback on how to improve. The International High School Writing Contest gives students all around the world an opportunity to share their work and 
        compete against others whilst exploring and improving their own writing—all without having to worry about payment or entrance fees.

    </p>
    <link>Instagram Link</link>
    <h3>©2023 by International High School Writing Competition</h3>
</body>
</html>
