{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>International High School Writing Contest</title>
  <style>
    body {
      min-height: 168vh !important;
    }

    img {
      max-width: 25px;
      height: auto;
    }
  </style>
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
  <nav>
    <ul class="left">
      <li><a href="/home">Home</a></li>
      <li><a href="/submit">Submit</a></li>
      <li><a href="/awards">Awards</a></li>
      <li><a href="/process">Our Process</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
    <ul class="right">
      <li><a href="/sign-in">Sign In</a></li>
    </ul>
  </nav>
  <h1>Our Process</h1>
  <p>For complete transparency, here's the entire process from submission to judging to awards. </p>
  <h2>Submission</h2>
  <h3>You submit up to 5 entries through
    <link>this form</link>
  </h3>
  <h3>Your information is sent to our database</h3>
  <h3>From there, only student works and their subsequent categories are sent to a separate platform for judges (without
    names, ages, or any other personal information disclosed)</h3>
  <h2>Judging</h2>
  <h3>A minimum of two chosen judges thoroughly review your work</h3>
  <h3>Give both a rating on a scale (0.0 to 10.0) and additional comments on your piece</h3>
  <h3>Note: there is no objective rubric</h3>
  <h3>In each of the 5 categories, we separate the entries by average rating, and the top 30% enter the second round of
    judging</h3>
  <h3>A minimum of 3 total judges rate your piece again</h3>
  <h3>Top 10-20 entries in each category are then ranked top to bottom</h3>
  <h2>Awards</h2>
  <h3>In each category:</h3>
  <h3>Highest 1-2: Gold Medallions</h3>
  <h3>Next highest 3-4: Silver Medallions</h3>
  <h3>Next highest 6-10: Bronze Medallions</h3>
  <h3>Rest of the top 30%: Honorable Mentions</h3>
  <h3>A list of all award recipients will be made, with email certificates sent to each student and parent/guardian's
    emails</h3>
  <h3>All medallion recipients will be published on the ISHWC Medium publication.</h3>
  <h3>Gold Medallion recipients will also be published on our website, and the cash prize will be transferred through
    Zelle (with either the parent's email address or phone number)</h3>
  <h3>Unfortunately, because of international transfer fees, no cash prizes are currently available for international
    highschoolers.</h3>



  <footer>
    <h3>
      Check out our Instagram!
      <a style="margin-left: 25px;" href='https://www.instagram.com/highschool.writing/'>
        <img src="../static/instagram_logo.png">
      </a>
    </h3>
    <h3>©2023 by International High School Writing Competition</h3>
  </footer>

</body>

</html>