{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>International High School Writing Contest</title>
    <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/submit">Submit</a></li>
            <li><a href="/awards">Awards</a></li>
            <li><a href="/submissions">Submissions</a></li>
            <li><a href="/process">Our Process</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
    <h1>International High School Writing Contest</h1>
    <!-- Additional content for the Our Process page -->
    <h2>About Our Process</h2>
</body>

</html>