{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submissions</title>
    <link rel="stylesheet" href="../static/style.css">

    <style>
        #submissions {
            display: flex;
        }

        .box {
            width: 500px;
            margin: 50px;
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            font-size: 20px;
            background-color: lightcyan;
            border-radius: 10px;
        }

        .box p {
            text-transform: capitalize;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/submit">Submit</a></li>
            <li><a href="/awards">Awards</a></li>
            <li><a href="/submissions">Submissions</a></li>
            <li><a href="/process">Our Process</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <h1>Student Submissions</h1>

    <div id="root" style="display: none;">{{submissions}}</div>

    <div id="submissions"></div>

    <script>
        const submissions = JSON.parse(document.querySelector("#root").innerText.replaceAll("'", "\"").replaceAll("datetime", "\"datetime").replaceAll(")", ")\""))

        let count = 1

        submissions.forEach( submission => {

            submission.birthday
            delete submission["id"]

            const div = document.createElement("div")
            div.classList.add("box")
            div.classList.add(`box${count}`)
            document.querySelector("#submissions").append(div)

            Object.keys(submission).forEach( key => {

                const p = document.createElement("p")
                p.append(key + ": " + submission[key])
                document.querySelector(`.box${count}`).append(p)

            })

            count += 1
        })
    </script>
</body>

</html>