<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESTING PAGE</title>
</head>
<body>
    <h1>TEST FILE UPLOADING</h1>
    <form action="/test/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <button type="submit">Submit</button>
    </form>


    <script>
        function getFileData(myFile){
            var file = myFile.files[0];  
            var filename = file.name;
            console.log(filename)
        }
    </script>
</body>
</html>